body {
  font-family: 'M PLUS 1p', sans-serif;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left:2rem;
  padding-right:2rem;
}

/* .message {
  font-size: 3.5em;
  font-weight: bold;
  color: #4dbb3a;
}
.convert {
  font-size: 1.8rem;
  font-weight: bold;
  color: #4dbb3a;
} */
